[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "*"
flake8 = "*"
pytest = "*"

[packages]
fastapi = {extras = ["all"],version = "*"}
pyjwt = "*"
passlib = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
starlette = "*"
rx = "*"
aniso8601 = "*"
emails = "*"
graphql-core = "*"
graphql-relay = "*"

[requires]
python_version = "3.8"
