[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
uvicorn = "*"
psycopg2 = "*"
passlib = "*"
pyjwt = "*"
emails = "*"
bcrypt = "*"

[requires]
python_version = "3.8"
